// For large devices
$nav_list_height: 80px;

@media (min-width: 992px) {
     .col-lg-five {
          @include make-col-ready(30px);
          flex: 0 0 20%;
          max-width: 20%;
     }

     .nav__bar__container {

          ul {
               li {
                    height: $nav_list_height;

                    a {
                         padding: 0px 16px !important;
                         width: 100%;
                         height: 100%;
                         line-height: 80px;
                    }
               }
          }

          .dropdown-menu {
               a {
                    line-height: $nav_list_height/2;
               }
          }

     }

     footer {
          h3 {
               height: 103px;
               display: flex;
               align-items: flex-end;
          }
     }
}