// For large devices
$nav_height_list: 80px;

@media (min-width: 992px) {
     .col-lg-five {
          @include make-col-ready(30px);
          flex: 0 0 20%;
          max-width: 20%;
     }

     .nav__bar__container {
          .navbar-brand {
               height: 70px;
          }


          ul>li {
               height: $nav_height_list;

               a {
                    padding: 0px 16px !important;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    line-height: 80px;
               }
          }

          .dropdown-menu {
               a {
                    height: 100%;
                    line-height: $nav_height_list/2;
               }
          }

     }

     footer {
          h3 {
               height: 103px;
               display: flex;
               align-items: flex-end;
          }
     }
}